@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font-family-noto: "Noto Serif", serif;
  --font-family-sans: "Open Sans", sans-serif;
  --font-family-mont: "Montserrat", sans-serif;
  --bg-gray: #f4f6f6;
}
